node_modules/
.DS_Store
*.log
.env
.env.*
UnityProject/Library/
UnityProject/Temp/
UnityProject/Logs/
UnityProject/Obj/
UnityProject/UserSettings/
UnityProject/.vs/
UnityProject/*.csproj
UnityProject/*.sln
